In [27]:
import pandas as pd

titanic_train_data_filepath = "res/titanic/train.csv"
titanic_train_data = pd.read_csv(titanic_train_data_filepath)
titanic_train_data.describe()

       PassengerId    Survived      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [28]:
titanic_train_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [29]:
titanic_train_data =  titanic_train_data.dropna(axis = 0)

In [30]:
train_y = titanic_train_data.Survived

In [31]:
titanic_train_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [32]:
titanic_features = ['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [33]:
train_X = titanic_train_data[titanic_features]

In [34]:
train_X.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   183.000000  183.000000  183.000000  183.000000  183.000000  183.000000
mean    455.366120    1.191257   35.674426    0.464481    0.475410   78.682469
std     247.052476    0.515187   15.643866    0.644159    0.754617   76.347843
min       2.000000    1.000000    0.920000    0.000000    0.000000    0.000000
25%     263.500000    1.000000   24.000000    0.000000    0.000000   29.700000
50%     457.000000    1.000000   36.000000    0.000000    0.000000   57.000000
75%     676.000000    1.000000   47.500000    1.000000    1.000000   90.000000
max     890.000000    3.000000   80.000000    3.000000    4.000000  512.329200

In [35]:
train_X.head()

    PassengerId  Pclass                                               Name     Sex   ...       Ticket     Fare  Cabin Embarked
1             2       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female   ...     PC 17599  71.2833    C85        C
3             4       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   ...       113803  53.1000   C123        S
6             7       1                            McCarthy, Mr. Timothy J    male   ...        17463  51.8625    E46        S
10           11       3                    Sandstrom, Miss. Marguerite Rut  female   ...      PP 9549  16.7000     G6        S
11           12       1                           Bonnell, Miss. Elizabeth  female   ...       113783  26.5500   C103        S

[5 rows x 11 columns]

In [36]:
from sklearn.tree import DecisionTreeRegressor
titanic_model = DecisionTreeRegressor(random_state = 1)
titanic_model.fit(train_X, train_y)

ValueError: could not convert string to float: 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'