# Titanic0

This is my first **Kaggle** kernel. I tried to solve the Titanic challenge here.

The solution i gave here is totally incorrect.

In [1]:
import pandas as pd

titanic_train_data_filepath = "res/titanic/train.csv"
titanic_train_data = pd.read_csv(titanic_train_data_filepath)
titanic_train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [2]:
titanic_train_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [3]:
titanic_train_data =  titanic_train_data.dropna(axis = 0)

In [4]:
train_y = titanic_train_data.Survived

In [5]:
titanic_train_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
titanic_features = ['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [7]:
train_X = titanic_train_data[titanic_features]

In [8]:
train_X.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   183.000000  183.000000  183.000000  183.000000  183.000000  183.000000
mean    455.366120    1.191257   35.674426    0.464481    0.475410   78.682469
std     247.052476    0.515187   15.643866    0.644159    0.754617   76.347843
min       2.000000    1.000000    0.920000    0.000000    0.000000    0.000000
25%     263.500000    1.000000   24.000000    0.000000    0.000000   29.700000
50%     457.000000    1.000000   36.000000    0.000000    0.000000   57.000000
75%     676.000000    1.000000   47.500000    1.000000    1.000000   90.000000
max     890.000000    3.000000   80.000000    3.000000    4.000000  512.329200

In [9]:
train_X.head()

    PassengerId  Pclass   Age  SibSp  Parch     Fare
1             2       1  38.0      1      0  71.2833
3             4       1  35.0      1      0  53.1000
6             7       1  54.0      0      0  51.8625
10           11       3   4.0      1      1  16.7000
11           12       1  58.0      0      0  26.5500

In [10]:
from sklearn.tree import DecisionTreeRegressor
titanic_model = DecisionTreeRegressor(random_state = 1)
titanic_model.fit(train_X, train_y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [11]:
titanic_validation_data_filepath = 'res/titanic/test.csv'
titanic_validation_data = pd.read_csv(titanic_validation_data_filepath)
titanic_validation_data.describe()
titanic_validation_data = titanic_validation_data.dropna(axis = 0)
val_X = titanic_validation_data[titanic_features]
val_X.describe()

       PassengerId     Pclass        Age      SibSp      Parch        Fare
count    87.000000  87.000000  87.000000  87.000000  87.000000   87.000000
mean   1102.712644   1.137931  39.247126   0.597701   0.482759   98.109198
std     126.751901   0.435954  15.218730   0.637214   0.860801   88.177319
min     904.000000   1.000000   1.000000   0.000000   0.000000    0.000000
25%     986.000000   1.000000  27.000000   0.000000   0.000000   35.339600
50%    1094.000000   1.000000  39.000000   1.000000   0.000000   71.283300
75%    1216.000000   1.000000  50.000000   1.000000   1.000000  135.066650
max    1306.000000   3.000000  76.000000   3.000000   4.000000  512.329200

In [12]:
print(titanic_model.predict(val_X))

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1.
 1. 1. 0. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 0. 1. 0. 1. 1. 1. 1. 1. 1. 1.
 1. 0. 0. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]